html{
    color-scheme: light dark;
}


:root{

    /*  COULEURS    */
    --fond-l : #E9ECEF;
    --fond-d : #32363A;

    --titre-fond-l: #FFFFFF;
    --titre-fond-d: #545454;

    --titre-l: #32363A;
    --titre-d: #FFFFFF;

    --listen1-l: #FFFFFF;
    --listen1-d: #000000;

    --spotify-fond-l: #1DB954;
    --spotify-fond-d: #1DB954;

    --spotify-items--l: #FFFFFF;
    --spotify-items--d: #32363A;

    --deezer-fond-l: #A238FF;
    --deezer-fond-d: #000000;

    --deezer-logo-l:#000000;
    --deezer-logo-d: #A238FF;

    --youtube-fond-l: #FF0000;
    --youtube-fond-d: #C01C1C;

    --newsletter-fond-l: #FFFFFF;
    --newsletter-fond-d: #290060;

    --newsletter-items-l: #290060;
    --newsletter-items-d: #FFFFFF;

    

    --fond: light-dark(var(--fond-l), var(--fond-d));
    --titre-fond: light-dark(var(--titre-fond-l), var(--titre-fond-d));
    --titre: light-dark(var(--titre-l), var(--titre-d));
    --listen1: light-dark(var(--listen1-l), var(--listen1-d));
    --spotify-fond: light-dark(var(--spotify-fond-l), var(--spotify-fond-d));
    --spotify-items: light-dark(var(--spotify-items--l), var(--spotify-items--d));
    --deezer-fond: light-dark(var(--deezer-fond-l), var(--deezer-fond-d));
    --deezer-logo: light-dark(var(--deezer-logo-l), var(--deezer-logo-d));
    --youtube-fond: light-dark(var(--youtube-fond-l), var(--youtube-fond-d));
    --newsletter-fond: light-dark(var(--newsletter-fond-l), var(--newsletter-fond-d));
    --newsletter-items: light-dark(var(--newsletter-items-l), var(--newsletter-items-d));

}

/*Pour que le logo change de couleur en fonction du mode (deux sources différentes)*/
@media (prefers-color-scheme: dark) {
    .logS{content: url("https://static.wixstatic.com/media/2397a0_3f9cc99f74f74538af70b461953bae92~mv2.png")}
    .logD{content: url("https://static.wixstatic.com/media/2397a0_2aa6cf8d71d844e6b19ae42c93669839~mv2.png")}
}

/**/
/**/
/**/
/*RESPONSIVE ET POINTS DE RUPTURE*/

@media only screen and (min-width: 35rem) {  /*48rem ????*/
    /* tablettes et ordinateurs */
}

@media only screen and (max-width: 34.9rem) {
    /* téléphone */
    .disparait{display : none }
}


/**/
/**/
/**/
/*GENERAL*/

body{
    font-family: sans-serif ;
    background-color: var(--fond);
}

.logo{
    max-width: 48px;
    height: 100%;
    padding : 0.3rem;
}

.flux> article{
    margin-left : 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
}


/**/
/**/
/*TETE*/
.profile{margin:2rem; max-width: 80%;}


/**/
/**/
/*YOUTUBE*/

.ChaineYT{font-weight: 600;}

.YoutTitre{
    display : flex;
    flex-direction: row;
    align-items: center;
}

.youtube{
    background-color: var(--youtube-fond);
    display : flex;
    flex-direction: column;
    color : white;
}

.abos{margin-top: -0.5rem}



/**/
/**/
/*NEWSLETTER*/

.news{
    background-color: white;
    margin-left : 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
    color : var(--newsletter-items);
    background-color: var(--newsletter-fond);
}

h3{margin-block-start: 0em;}

.mail{
    display: flex;
    flex-direction: row;
    align-items: center;
    border : 1px solid #D5E0EA;
    border-radius: 8px;
    padding:8px;
    
}

.mail>*{margin : 0.3rem}

.zoneTEXTE{
    background-color: var(--newsletter-fond);
    border : 0px solid #D5E0EA;
    width: 100%;
}

input{opacity: 30%}

.ButtGo{
    background-color: var(--newsletter-items);
    color : var(--newsletter-fond);
    border-radius: 12px;
    padding:8px;
}












/*J'ai fais ça le temps d'encoder ma partie (pour pas être dérangée par le reste)*/
/*mais il faudra le supprimer apres */

.Spotify{
    background-color: green;
}

.Deezer{
    background-color: green;
}

